@font-face {
  font-family: interRegular;
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: interSemiBold;
  src: url(./assets/fonts/Inter-SemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: interBold;
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-display: swap;
}


:root {
  font-family: interRegular, sans-serif!important;
}
body{
  min-height:100vh;
  font-family: interRegular, sans-serif!important;
}
*{
  margin:0;
  padding:0;
}
*, *::before, *::after{
  box-sizing: border-box;
}
img,picture,svg,video{
  display:block;
  max-width:100%;
}
input,textarea,button,select{
  font:inherit;
}
p {
  margin: 0!important;
}